.quadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    border: solid 1px #000;
    padding: 12px 250px;
    border-radius: 5px;
}
